@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

body, body * {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}
.trans{
    transition: all .1s ease-in-out;
}

.logo_dimentions{
    width: calc(60px + 2.5vw);
}

.bg_color{
    background: #242021;
}
.main_height{
    height: calc(100vh - 7rem);

}
.routes_color{
   color: #808489;
}
.home_h2{
    font-size: calc(1.5rem + 2.9vw);
}
.home_h3{
    font-size:  calc(.3rem + 1.2vw);;
}
.footer_bg{
    background: rgb(25,25,25)
}

.Inconsolata{
    font-family: Inconsolata,monospace;
}