@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 

body, body * {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}
.content_carousel{
    width: 45vw;
    height: 20vw;
}
.text_decoration_none{
     text-decoration: none;
     color: #d15171;
     font-weight: bold;
}

.my_shadow{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.tech{
    color:#d15171;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.01rem;
    
}
.trans{
    transition: all .1s ease-in-out;
}

.logo_dimentions{
    width: calc(70px + 2.5vw);
}

.bg_color{
    background: #242021;
    
}
.main_height{
    min-height: calc(100vh - 7rem);

}
.routes{
    color: #808489;
    transition: all .1s ease-in-out;
}
.routes:hover{
    color: rgb(148, 163, 184);
}

.img_dimentions{
    border-radius: 0.5rem;

   
   background: #000;
 
}
.img{
    border-radius: 0.5rem;
    width: 45vw;
    height: 20vw;
}

.routes:after{
    content:"";
    display: block;
    width: 0%;
    height: 1.5px;
    background: #808489;
    transition: all .2s ease-out;
}
.routes:hover::after{
    width: 100%;
    background: rgb(148, 163, 184);
}
.routes_color{
   color: #808489;
}
.home_h2{
    font-size: calc(1.5rem + 2.9vw);
}

.footer_bg{
    background: rgb(25,25,25)
}

.Inconsolata{
    font-family: Inconsolata,monospace;
}
.span_size{
    font-size: calc(.7rem + 0.4vw);;

}
/* CSS */
.button-89 {
    --b: 2px;   /* border thickness */
    --s: .49em; /* size of the corner */
    --color: rgb(148, 163, 184);
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: white;
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
      transition: all .3s ease-in-out;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 15px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .04em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #000000;
  }

  .text_decoration{
    text-decoration:none;
  }
  .image{
    min-height: 300px;
    width: 100px;
    background: rgb(219, 76, 76);
  }
  .home_h3{
    font-size:  calc(.3rem + 1.2vw);;
   }
@media only screen and (max-width: 500px) {
   .home_h2{
       font-size: calc(1.7rem + 1vw);
    }
    .button-89{
        font-size: 13px;
    }
    .tech{
        color:#d15171;
        letter-spacing: 1px;
        font-size: 0.9rem;
    }
  
}
.board{
    width: 100%;
    height: 1px;
    background-color: rgb(169, 169, 169);
    z-index: 10;
    
}
@media only screen and (max-width: 1024px) {
    .home_h3{
        font-size:  calc(.35rem + 1.2vw);;
    }
    .img_dimentions{
        display: flex;
        justify-content: center;
        margin:0 auto;
        border-radius: 0.5rem;
       width: 80vw;
       height: 40vw;
       background: #000;
    }
    .img{
        display: flex;
        justify-content: center;
        margin:0 auto;
        border-radius: 0.5rem;
        width: 80vw;
        height: 40vw;
    }

}